/* Rebrand Font */
@import '../styles/font/stylesheet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/** Components Styles */
@import '../styles/components/Button.css';
@import '../styles/components/Chip.css';
@import '../styles/components/IconButton.css';
@import '../styles/components/Select.css';
@import '../styles/components/TextField.css';


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scrollbar::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #C1C1C1;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}